/* Space out content a bit */

body {
    padding-bottom: 20px;
    background-color: #ccc;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */

.wrap {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 800px;
        background-color: #fff;
        border: 1px #ccc dotted;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.angular-tagger {
    display: block;
    width: 100%;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 34px;
}
.angular-tagger__tag {
    border-radius: 4px;
    background-color: #428bca;
}
.angular-tagger__matching-item--selected {
    background-color: #ccc;
}
.alert {
    border-radius: 0px;
}