<div class="row">
    <table class="table table-striped" ng-if="hasKeys(playlists)">
        <thead>
            <tr>
                <th style="width:10px">#</th>
                <th>Name</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,value) in playlists">
                <td>{{$index+1}}</td>
                <td><a ng-href="#/playlist/{{key}}">{{key}}</a> 
            </tr>
        </tbody>
    </table>
    <div ng-if="!hasKeys(playlists)" class="alert alert-info" role="alert"><i class="glyphicon glyphicon-info-sign"></i> You don't have any playlists yet!</div>
</div>
